.episode {
  margin: auto;
  margin-top: 50px;
  background-color: #1cc538;
  border-radius: 10px;
  width: 75%;
  height: 100%;
}

.episodeInfo {
  padding: 50px;
  font-size: 25px;
}

.character {
  display: inline-block;
  padding: 0 25px;
  margin: 5px;
  height: 50px;
  width: 100%;
  font-size: 25px;
  line-height: 50px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.character img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 3px 0px 0px 3px;
}

@media screen and (max-width: 960px) {
  .episode {
      text-align: center;
      margin: auto;
      margin-top: 5px;
      background-color: #1cc538;
      border-radius: 10px;
      width: 100%;
      height: 100%;
  }

  .episodeInfo {
      padding: 50px;
      font-size: 20px;
  }

  .character {
      display: inline-block;
      margin: 5px;
      height: 100px;
      width: 100%;
      font-weight: bold;
      font-size: 15px;
      line-height: 100px;
      border-radius: 3px;
      background-color: #FFFFFF;
  }

  .character img {
      float: left;
      height: 100px;
      width: 100px;
      border-radius: 3px 0px 0px 3px;
  }
}

@media screen and (max-width: 480px) {
  
  .link{
      overflow: auto;
  }
}
  
  