/*css for characters.js*/
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.paginationButton{
    margin-right: 20px;
}

.paginationInfo{
    margin-right: 20px;
    color: #1cc538;
    
}

.link{
    text-decoration: none;
    color: #000000;
}

.imageSize{
    height: 300px;
    width: 300px;
}

.cardSize{
    height: 375.6px;
    width: 302px; 
    margin: 10px;
}

.characterCard {
    margin: auto;
    margin-top: 50px;
    background-color: #1cc538;
    border-radius: 10px;
    width: 75%;
    height: 100%;
}

.characterCardInfo {
    padding: 50px;
    font-size: 25px;
}

/*css for characterInfo.js*/

.characterSpec {
    margin: auto;
    margin-top: 200px;
    background-color: #1cc538;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.characterImageSpec {
    float: left;
    padding: 10px;
}

.characterInfoSpec {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.floatLeft{
    float: left;
    margin-left: 10px
}

.floatRight{
    float: right;
}



