.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: #000000;
}

.mainCharacterCards{
    padding: 10px;
}

.CardBodyColor{
    background-color: #1cc538;
}
